* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label{
width: 200px;
display: inline-block;
    
}
input {
    height: 27px;
    width: px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    color: black;
    }
.container {
    width: 30em ;
    height: 5em;
    margin: 0 auto;
    
    
}
fieldset {
    padding: 10px;
    background-color: rgb(221, 215, 215);
    
}
textarea {
    width: 170px;
    height: 80px;
}
button {
    padding: 5px;
    margin: 0 auto;
    display: flex
    
}
select {
    width: 150px;
    height: 30px;
}
 .Gender {
    display: inline;
    width: auto;
 }